@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Image Analyzer";
}


<div class="getCenterDiv">
    <h3>ImageAnalyzer</h3>
    <p>ImageAnalyzer analyze photo and returns tags and description.</p>
</div>